{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}Portfolio{% endblock %}

{% block content %}
	<table>
	{% for casestudy in casestudies %}
		<tr><td>
		{% thumbnail casestudy.picture "200x200" crop="center" as pic %}

		{% endthumbnail %}
		<h2>{{ casestudy.title }}</h2>
		<p>{{ casestudy.description }} </p>
		
		</td></tr>
	{% endfor %}
	</table>
{% endblock %}
