{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="{% static 'polls/bootstrap/css/bootstrap.min.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
	
</head>
<body>


<div class="container">
	<div class="navbar">
  		<div class="navbar-inner">
   			<a class="brand" href="#">PollPumpkin</a>
    		<ul class="nav">
      			<li class="active"><a href="#">Polls</a></li>
      			<li><a href="#">Admin</a></li>
    		</ul>
  		</div>
	</div>
	<div class="content">
	<h1>Pick a poll, Answer a question!</h1>

	{% if latest_poll_list %}
		<ul>
		{% for poll in latest_poll_list %}
			<li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No polls are available.</p>
	{% endif %}
	</div>
</div>

	<script src="{% static 'bootstap/js/bootstrap.min.js' %}"></script>

</body>
</html>
