body {
	background-color:#BF3800;
}

li a {
	color: green;
	font-family: 'New Rocker', cursive;
	font-size:20px;	
	
}

li,a{
	color: green;
	font-family: 'New Rocker', cursive;
	font-size:20px;	
}



label {
	color: green;
	font-family: 'New Rocker', cursive;
	font-size:20px;	
}

h1 {
	color: green;
	font-family: 'New Rocker', cursive;	
	
}

ul { 
	list-style-type:none 
}

input{
	color:#ffff00;
	background-color:#000000;
	font-family: 'New Rocker', cursive
}

.container {
	background-color:#ffffff;
	
}

.content {
	margin:20px;
	padding:10px;
}
